body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #eee;
    margin: 0;
    padding: 0;
}
label, input, a {
    display: block;
    margin: 10px 0;
}
label {
    font-size: 1.1em;
}
input[type="number"] {
    width: 80px;
    padding: 5px;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #eee;
}
input[type="number"]::placeholder {
    color: #666;
}
#speedSlider {
    width: 200px;
    margin-top: 10px;
}
#speedValue {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #fff;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}
a:hover {
    background-color: #777;
    transform: scale(1.05);
}
a:active {
    background-color: #444;
}
#button_start_stop {
    background-color: #0a0;
}
#button_start_stop:hover {
    background-color: #080;
}
#button_start_stop:active {
    background-color: #070;
}
#div_container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
#div_canvas {
    display: block; /* Ensures it's treated as a block element */
    justify-content: center;
    align-items: center;
    border: 2px solid #444;
    width: fit-content; /* Keeps the width wrapped around the content */
    height: fit-content; /* Keeps the height wrapped around the content */
    margin: 0 auto; /* Centers the element horizontally */
}


#sidebar {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #444;
    position: fixed;
    width: 200px;
    top: 50%;
    right: 20px;
}

.p_simulation_informations {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}
canvas {
    background-color: #000;
}

#controls-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    gap: 20px; /* Adds space between each control group */
}

.control-group {
    display: flex;
    align-items: center; /* Vertically aligns the label and input */
    gap: 10px; /* Adds space between the label and input */
}
